@model VDOEasy.ViewModels.EditMemberViewModel

@{
    ViewData["Title"] = "Edit Member";
}

<h1>แก้ไขสมาชิก</h1>

<form asp-action="Update" asp-controller="List" method="post">
    <input type="hidden" asp-for="Member.ID" />

    <div class="form-group">
        <label asp-for="Member.Firstname">ชื่อ</label>
        <input asp-for="Member.Firstname" class="form-control" />
        <span asp-validation-for="Member.Firstname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.Lastname">นามสกุล</label>
        <input asp-for="Member.Lastname" class="form-control" />
        <span asp-validation-for="Member.Lastname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.Birthdate">วัน/เดือน/ปีเกิด</label>
        <input asp-for="Member.Birthdate" class="form-control" type="date" />
        <span asp-validation-for="Member.Birthdate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.Address">ที่อยู่</label>
        <input asp-for="Member.Address" class="form-control" />
        <span asp-validation-for="Member.Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.IdCardNumber">หมายเลขบัตรประชาชน (13 หลัก)</label>
        <input asp-for="Member.IdCardNumber" class="form-control" />
        <span asp-validation-for="Member.IdCardNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.BranchID">สาขา</label>
        <select asp-for="Member.BranchID" class="form-control" asp-items='new SelectList(ViewBag.Branches, "ID", "Name", Model.Member.BranchID)'>
            <option value="">Please select</option>
        </select>
        <span asp-validation-for="Member.BranchID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Member.MemberTypeID">ประเภทสมาชิก</label>
        <select asp-for="Member.MemberTypeID" class="form-control" asp-items='new SelectList(ViewBag.MemberTypes, "ID", "Name", Model.Member.MemberTypeID)'>
            <option value="">Please select</option>
        </select>
        <span asp-validation-for="Member.MemberTypeID" class="text-danger"></span>
    </div>

     <label class="form-label">ประเภทภาพยนตร์ที่ชอบ</label>
    @foreach (var masMovieType in Model.MasMovieTypes)
    {
        <div class="form-check">
            @{
                // Check if the current MasMovieType is selected for the member
                var isChecked = Model.SelectMovieTypes.Any(m => m.MovieTypeID == masMovieType.ID && m.MemberID == Model.Member.ID);
            }
            <input class="form-check-input" type="checkbox" id="movieType_@masMovieType.ID" name="SelectedMovieTypeIds" value="@masMovieType.ID"
               @(isChecked ? "checked" : "")>
            <label class="form-check-label" for="movieType_@masMovieType.ID">
                @masMovieType.Name
            </label>
        </div>
    }
    @foreach (var masMovieType in Model.SelectMovieTypes)
    {
        <div class="form-check">

            <input class="form-check-input" type="checkbox" id="movieType_@masMovieType.MovieTypeID" name="SelectedMovieTypeIds" value="@masMovieType.MovieTypeID">
            <label class="form-check-label" for="movieType_@masMovieType.MovieTypeID">
                @masMovieType.MovieTypeID
            </label>
        </div>
    }



    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
