@model ReceiptViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Receipt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1>Receipt</h1>
        <p>Member ID: @Model.MemberId</p>
        <p>Full Name: @Model.FullName</p>
        <p>Address: @Model.Address</p>
        <p>Total Amount: @Model.TotalAmount</p>
        <a href="@Url.Action("List", "List")" class="btn btn-primary">Go to List Page</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
